/*
.jan{
	background-color: royalblue;
	text-align: center;
}
.jan table{
	background-color: red;
	width: 100%;
	text-align:center;
	color: white;
	border-collapse: collapse;
}

.jan table thead{
	background-color: grey;
}

.jan table tbody{
	background-color: black;
	padding: 10px;
	margin: 50px;
}

.feb{
	background-color: royalblue;
}
.feb table{
	background-color: red;
	width: 100%;
	text-align:center;
	color: white;
	border-collapse: collapse;
	

	
}

.feb table thead{
	background-color: grey;

}

.feb table tbody{
	background-color: black;

	padding: 10px;
	margin: 50px;
}


*/